<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635675488201-bggu1pm9sm5l4q5j39cmag4k2i11tndb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635675488201-bggu1pm9sm5l4q5j39cmag4k2i11tndb</string>
	<key>API_KEY</key>
	<string>AIzaSyB9hp6ANOIjydp6Nk3ia8rJvBkXd9df2B4</string>
	<key>GCM_SENDER_ID</key>
	<string>635675488201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glade.gladepayManager</string>
	<key>PROJECT_ID</key>
	<string>new-glade-app</string>
	<key>STORAGE_BUCKET</key>
	<string>new-glade-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635675488201:ios:d4fc3522bd270652c28218</string>
	<key>DATABASE_URL</key>
	<string>https://new-glade-app.firebaseio.com</string>
</dict>
</plist>